In [3]:
import sqlite3

# Create an in-memory SQLite DB
conn = sqlite3.connect(":memory:")
cur = conn.cursor()

# Create table
cur.execute("""
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    grade INTEGER
);
""")

# Insert sample rows
cur.executemany("""
INSERT INTO students (name, grade)
VALUES (?, ?)
""", [
    ("Alice", 85),
    ("Bob", 92),
    ("Charlie", 76),
    ("Diana", 89)
])

conn.commit()
print("Table created and sample data inserted.")

Table created and sample data inserted.

In [4]:
# Select all students
cur.execute("SELECT * FROM students;")
rows = cur.fetchall()
rows

[(1, 'Alice', 85), (2, 'Bob', 92), (3, 'Charlie', 76), (4, 'Diana', 89)]

In [5]:
# Students with grade >= 85
cur.execute("""
SELECT name, grade
FROM students
WHERE grade >= 85
ORDER BY grade DESC;
""")
cur.fetchall()

[('Bob', 92), ('Diana', 89), ('Alice', 85)]